/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #111827;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}
